h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none; /* Убираем маркеры списка */
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Общие настройки контейнеров всех */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Общие стили логотипа */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}

.main-menu {
  display: flex;
  align-items: center;
}

/* Вторая часть логотипа */
.logo-secondary {
  color: #2e2f42; /* Цвет второй части логотипа */
}

/* Стили для меню */
.menu-list {
  display: flex;
  gap: 40px;
}

/* Стили для текста в меню */
.menu-link {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Список контактов */
.contact-list {
  list-style: none;
  font-style: normal;
  display: flex;
  gap: 40px;
}

/* Ссылки контактов */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Секция # 1 "Hero" */
.hero {
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
  min-height: 600px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg"); /* Фоновое изображение */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.button {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.hero-button {
  display: block;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Секция # 2 "Advantages" */

.advantages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-box {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.icon-advantages {
  fill: currentColor;
}

/* Заголовок секции */
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
  text-align: center;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

/* Список участников */
.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

/* Карточка участника */
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  min-width: 260px;
}

.team-photo {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.team-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

/* Имя участника */
.team-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

/* Роль участника */
.team-role {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40px;
  height: 40px; */
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.icon-social {
  fill: #f4f4fd;
  /* background-color: #4d5ae5; */
}

/* Секция # 4 "Портфолио" */
.portfolio {
  padding: 120px 0;
}

/* Заголовок секции */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
}

/* Список карточек */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

/* Карточка */
.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Контейнер для изображения */
.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #4d5ae5;
  transform: translateY(100%);
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover-эффект */
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Появление overlay при ховере */
.portfolio-item:hover .portfolio-overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

/* Контейнер для названия и описания */
.portfolio-text {
  padding: 32px 16px;
  text-align: left;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Название проекта */
.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Описание проекта */
.portfolio-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Контейнер Footer */
.footer {
  background: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-info {
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-secondary {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-box-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-box {
  display: flex;
  flex-direction: column;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color, #4d5ae5);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe:hover,
.subscribe:focus {
  background-color: #31d0aa;
}

.footer-subscribe-box {
  margin-left: auto;
}

.footer-subscribe-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.form-input {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-input::placeholder {
  color: #fff;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  background-color: #404bbf;
  border: none;
}

.close:hover .close-icon,
.close:focus .close-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.user-inner {
  position: relative;
}

.modal-input {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border-color: #4d5ae5;
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .user-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  margin-bottom: 16px;
}

.input-textarea {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-textarea:focus-within {
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.input-checkbox {
}

.checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .checkbox-label > .checkbox-box {
  border: none;
  fill: #f4f4fd;
  background-color: #404bbf;
}

.checkbox-icon {
  fill: #f4f4fd;
}

.checkbox-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.form-button {
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #31d0aa;
}
